.NavItem {
    width: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: #233142;
    font-size: 12px;
}

.NavItem img {
    height: 50px;
    margin: 0;
    padding: 0;
}

.NavItemActive {
    background-color: #d44141;
}