.Navigation {
    width: 100%;
    background-color: #f95959;
}

.Navigation ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
}

.Navigation li {
    width: 100%;
    height: 100%;
    text-align: center;
}