.Settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 80vh;
}
.Settings button {
    margin-top: 200px;
    height: 70px;
    font-size: 30px;
    background-color: #f95959;
    color: #e3e3e3;
    border: none;
}

.Settings select {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #455d7a;
    color: #e3e3e3;
}

.RadioBtn{
    color: red;
}

.RadioForm {
    display: flex;
    flex-direction: column;
}

.Settings .RadioForm input {
    margin-top:10px;
    margin-bottom: 30px;
}

.Settings button:hover {
    background-color: #d44141;
}